body {
  padding: 0 80px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 -12px;
}
#__layout {
  margin: 0 auto;
  max-width: 1280px;
}

.column {
  --columns: 12; /* Number of columns in the grid system */
  --width: 0; /* Default width of the element */

  width: calc(var(--width) / var(--columns) * 100%);
  padding: 0;
}

.container .column:first-child {
  padding-left: 0;
}
.container .column:last-child {
  padding-right: 0;
}
